In [1]:
import gspread
import pandas as pd
from oauth2client.service_account import ServiceAccountCredentials

/Users/bagun/VFV/venv/lib/python3.9/site-packages/urllib3/__init__.py:35: NotOpenSSLWarning: urllib3 v2 only supports OpenSSL 1.1.1+, currently the 'ssl' module is compiled with 'LibreSSL 2.8.3'. See: https://github.com/urllib3/urllib3/issues/3020
  warnings.warn(
/var/folders/c4/0rhshy_x60l1p75bp5mr7_d00000gn/T/ipykernel_45505/2110980665.py:2: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

In [2]:
# Authenticate with Google Sheets API
scope = ['https://spreadsheets.google.com/feeds',
         'https://www.googleapis.com/auth/drive']
creds = ServiceAccountCredentials.from_json_keyfile_name('/Users/bagun/Documents/savvy-folio-413809-90235952e75e.json', scope)
client = gspread.authorize(creds)

# Open the spreadsheet and select the worksheet by name
spreadsheet = client.open('Raw_Sentences')
worksheet = spreadsheet.worksheet('sentences')

In [5]:
df = pd.DataFrame(worksheet.get_all_records())

In [18]:
df.head()

,sentence,year,month,number,order,,Test123
0,In small towns the same workman makes chairs a...,2017,3,31,1,,
1,"And it is, of course, impossible for a man of\...",2017,3,31,2,,
2,"In large cities,\non the other hand, because m...",2017,3,31,3,,
3,"For instance, one man makes shoes for men, and...",2017,3,31,4,,
4,And there are places even where one man earns ...,2017,3,31,5,,

In [25]:
df.iloc[7, 5]==''

True

In [13]:
sentences = df.loc[:, ['sentence']]

In [19]:
sentences

                                              sentence
0    In small towns the same workman makes chairs a...
1    And it is, of course, impossible for a man of\...
2    In large cities,\non the other hand, because m...
3    For instance, one man makes shoes for men, and...
4    And there are places even where one man earns ...
..                                                 ...
194  For example, in late 2007 the science media wi...
195  They each provided help to an unfamiliar and u...
196  Rutte and Taborsky trained rats in a cooperati...
197  Rats who had been helped previously by an unkn...
198  Before this research was conducted, generalize...

[199 rows x 1 columns]

In [32]:
count = 0
number_of_sts = df.shape[0]
for i in range(number_of_sts):
    if df.iloc[7, 5]=='':
        count += 1
print(f'<Information>\n\tTotal {number_of_sts} sentences, {number_of_sts - count} sentences POS-analyzed')

<Information>
	Total 199 sentences, 0 sentences POS-analyzed